.v-stepper {
    .v-stepper__step--editable {
        .v-stepper__step__step {
            .v-icon {
                font-size: 12px !important;
            }
        }
    }

    .v-stepper__content {
        border-left: none !important;
        margin: -8px -36px -16px 0px !important;
    }
}
